body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
}
.orange-clr{
  color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width image{
   width: 75% ;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding : 10px 40px;
    border-radius:5px;
    color: white;
    font-weight:400px;
    background-color: linear-gradient(orange,orangered);
}
.top-banners{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}